.blogPost {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 5;
	min-height: max-content;
	height: max-content;
	padding: 5rem 10rem;
	background: #fff;
	font-weight: bold;
	font-family: "Cormorant Garamond", serif;
	text-align: left;
	background-color: #000;
	color: #fff;

	& div * {
		margin: 0.5rem 0;
	}

	& div li {
		margin: 0;
	}
}

.loading {
    width: 100%;
    height: 100vh;
    background: #000;
    display: grid;
    place-items: center;

	.spinner {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		background: conic-gradient(#0000 10%, #fff);
		mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
		animation: spinner-zp9dbg 1s infinite linear;
	}
}

@keyframes spinner-zp9dbg {
	to {
		transform: rotate(1turn);
	}
}
